body{
    margin:0;
    padding:0;
    min-height: 100vw;
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
    background: url('cuong.jpg');
    background-size: cover;
}
.form_dang_nhap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40%;
    padding:6rem;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.form_dang_nhap h2 {
    margin:0 0 4rem;
    padding:0;
    color: #fff;
}
.form_dang_nhap .o_nhap{
    position: relative;
}
.form_dang_nhap .o_nhap input{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    color:#fff;
    margin-bottom:2rem;
    border:none;
    border-bottom:1px solid #fff;
    outline: none;
    background: transparent;
}
.form_dang_nhap .o_nhap label {
    position: absolute;
    top:0;
    left:0;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    color:#fff;
    pointer-events: none;
    transition: .5s;
}
.form_dang_nhap .o_nhap input:focus ~ label,
 .form_dang_nhap .o_nhap input:valid ~ label {
     top:-1.5rem;
     left:0;
     color:#03a9f4;
     font-size:0.8rem;
 }
.form_dang_nhap input[type="submit"] {
     background: transparent;
     border:none;
     outline: none;
     color:#fff;
     background: #03a9f4;
     padding: 1rem 1.5rem;
     font-size: 0.8rem;
     cursor: pointer;
 }